@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-family-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: "JetBrains Mono", ui-monospace, monospace;
}

body {
  background-color: #050505;
}
